packages:
  yum:
    git: []
commands:
  install_glpk:
    command: "cd /home/ec2-user && curl http://ftp.gnu.org/gnu/glpk/glpk-4.44.tar.gz | tar xvz && cd glpk-4.44/ && ./configure && make && make install"
files:
  "/root/.ssh/known_hosts":
    mode: 644
    owner: root
    group: root
    content: |
      |1|Ca51zw+fMNd6r/2N3nYwY7eYlK8=|LWaOFvptTQ/mxfyifMjMBSvf5oo= ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ==
      |1|QiaJrRYAhd+jkVgjL6XcCu38HQg=|2Bq02YYLioiILO1S1yeFyOf20Lg= ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ==
      |1|cFq59jYrrQUKGuQwYA+0AVOAH6c=|UQ/DOUyS21+lqQEWQpihO/o1S18= ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ==
  "/root/.ssh/id_rsa":
    mode: 600
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA0ADrTrtqNRUsxAGjwAHBuAZ5EXXVK3s0PJkjUO8Pz5SXqIYV
      wPWeBpKS8zo15yGMaj4eNiFfaNLywRSBXoGDN4PbWR8zal50XFtbUxXIgtK/uh0l
      EL3pEnIRbCMAMSs49QO3CDPjTyoTBvBqCQqcK2MGfIc6SrQVOnVERFHcDADfVQ5E
      Ksr3fGkEvFAMREugpBv7p0pOc03ZPMexFQ6hqZJT880IVWBUuwL+I9FoXAm2SU5U
      xfFY8T243V7B7vLhyss9Esi0a+v9vYFzzUuOr20MxsXW4tkN8Np0Ozx8/8ZQtl6X
      D4rTgU+xWZLjtHA3XzHH+4rPCrqytPlFsTEDiQIDAQABAoIBACY3VQRlKLFSD6R/
      jJ91cyslfU748E6J12Ie3L88/RGtgmPDJvIJ7pvUiE1J76dkoZDPkuttHEN9Jn7V
      DqPXdc1YW4+3TNIJQqXJXzEXunxWzkUan7nAurbZ4FuW3q0p/M//e7x1FBlyaIaI
      22KH4YOTMRjmG46oIZJZA07uH1jQ51xoKgnRRDaf+NIBHiYlzM5FtRGvJl8mllqF
      7TnZa++Fvgkq5Xk8j5wRB8SS2te61QTPR3VCjQ5kjDs+c9oR+ISob7NmrX8vuJsd
      HD/Bg5ctyYCUUay7KR9kRA7dqskNhLsGzaZwavUiA4EwRrPO+WPwWZn48yUbn9lS
      NHwt94ECgYEA77dMafytUK6S+x4bVS3h/pXaVoMvEW/F+EE0gLRW+MzKuFbQcY0k
      5C1C8bVmZodc/8JIZvDrHmFdW7nnYywpd7Qsh7H1eD/HoRMt3mvVrb6HCcMJUQ++
      r197QWu4wPzhl2w74oVJYWZSnjmNtQRW30j6z7YqiGAWa0qbbRRQcZECgYEA3iIi
      60uegxEvnuPLIZ6GUI/Zx4LhxP2kdrgsL65TkaAsHdY+P+h74lPdbzIWknRvNg6C
      31eWB4QrkiVYDRZjORchlOqmcOFtZZks1r0psbpAHxInq9ZxxnUF6k8QNhMsNPOS
      anD/Gpsgm+l9wQtxGp+8AfrzsffSq7QOFIRq9nkCgYBEEuaVVpcVSW4d9+/FIbGC
      7aVCWiCcsAQlOschIZVtNCMBdE3fYTivv5a6M0xwI1Kqos6SxSnPx9COQt3N0PW5
      s6XNpyDRVDNpr5ugBTl6DJgmkodryK/a95919ZRS4b1ile7vpfAvw7IEks2GMURG
      RmBLaizr63WSZG587H7nsQKBgQDbJbJtkF0B0aK5juKIeGzqbgDc5DL4tYPb3Dc7
      kzC/KtZbWVJwmlweHb8IRNIgCt7s5cQXs8FACRUzScRkpQGfAUMQN6+dDclvwn6K
      HHVV8fnwrWiWDyqQMEN1tiq4LpIea263tGL5TLIPH3wBR9h9+7jv+zURDv24iBqc
      A0fDgQKBgQCCCkdTCt+ZtsBAwWVL3fC/d4eiUAgR+q85qLWTl5iKN37n/N1L9UkU
      ZuZJ/dLpnnmARZDPDUHknvozIJBEMA4ajQTwnTwmzrFL3iuEQAvcSo9HmONB4tBx
      xVUK/WUcIQSFk7QkGOinOoShPS+10/eR9EEM2loFMEyb3fifApbBIA==
      -----END RSA PRIVATE KEY-----
  "/home/ec2-user/.ssh/id_rsa":
    mode: 600
    owner: ec2-user
    group: ec2-user
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA0ADrTrtqNRUsxAGjwAHBuAZ5EXXVK3s0PJkjUO8Pz5SXqIYV
      wPWeBpKS8zo15yGMaj4eNiFfaNLywRSBXoGDN4PbWR8zal50XFtbUxXIgtK/uh0l
      EL3pEnIRbCMAMSs49QO3CDPjTyoTBvBqCQqcK2MGfIc6SrQVOnVERFHcDADfVQ5E
      Ksr3fGkEvFAMREugpBv7p0pOc03ZPMexFQ6hqZJT880IVWBUuwL+I9FoXAm2SU5U
      xfFY8T243V7B7vLhyss9Esi0a+v9vYFzzUuOr20MxsXW4tkN8Np0Ozx8/8ZQtl6X
      D4rTgU+xWZLjtHA3XzHH+4rPCrqytPlFsTEDiQIDAQABAoIBACY3VQRlKLFSD6R/
      jJ91cyslfU748E6J12Ie3L88/RGtgmPDJvIJ7pvUiE1J76dkoZDPkuttHEN9Jn7V
      DqPXdc1YW4+3TNIJQqXJXzEXunxWzkUan7nAurbZ4FuW3q0p/M//e7x1FBlyaIaI
      22KH4YOTMRjmG46oIZJZA07uH1jQ51xoKgnRRDaf+NIBHiYlzM5FtRGvJl8mllqF
      7TnZa++Fvgkq5Xk8j5wRB8SS2te61QTPR3VCjQ5kjDs+c9oR+ISob7NmrX8vuJsd
      HD/Bg5ctyYCUUay7KR9kRA7dqskNhLsGzaZwavUiA4EwRrPO+WPwWZn48yUbn9lS
      NHwt94ECgYEA77dMafytUK6S+x4bVS3h/pXaVoMvEW/F+EE0gLRW+MzKuFbQcY0k
      5C1C8bVmZodc/8JIZvDrHmFdW7nnYywpd7Qsh7H1eD/HoRMt3mvVrb6HCcMJUQ++
      r197QWu4wPzhl2w74oVJYWZSnjmNtQRW30j6z7YqiGAWa0qbbRRQcZECgYEA3iIi
      60uegxEvnuPLIZ6GUI/Zx4LhxP2kdrgsL65TkaAsHdY+P+h74lPdbzIWknRvNg6C
      31eWB4QrkiVYDRZjORchlOqmcOFtZZks1r0psbpAHxInq9ZxxnUF6k8QNhMsNPOS
      anD/Gpsgm+l9wQtxGp+8AfrzsffSq7QOFIRq9nkCgYBEEuaVVpcVSW4d9+/FIbGC
      7aVCWiCcsAQlOschIZVtNCMBdE3fYTivv5a6M0xwI1Kqos6SxSnPx9COQt3N0PW5
      s6XNpyDRVDNpr5ugBTl6DJgmkodryK/a95919ZRS4b1ile7vpfAvw7IEks2GMURG
      RmBLaizr63WSZG587H7nsQKBgQDbJbJtkF0B0aK5juKIeGzqbgDc5DL4tYPb3Dc7
      kzC/KtZbWVJwmlweHb8IRNIgCt7s5cQXs8FACRUzScRkpQGfAUMQN6+dDclvwn6K
      HHVV8fnwrWiWDyqQMEN1tiq4LpIea263tGL5TLIPH3wBR9h9+7jv+zURDv24iBqc
      A0fDgQKBgQCCCkdTCt+ZtsBAwWVL3fC/d4eiUAgR+q85qLWTl5iKN37n/N1L9UkU
      ZuZJ/dLpnnmARZDPDUHknvozIJBEMA4ajQTwnTwmzrFL3iuEQAvcSo9HmONB4tBx
      xVUK/WUcIQSFk7QkGOinOoShPS+10/eR9EEM2loFMEyb3fifApbBIA==
      -----END RSA PRIVATE KEY-----
