commands:
  symlink_node:
    command: "ln -s /opt/elasticbeanstalk/node-install/node-v0.8.28-linux-x64/bin/ /usr/bin/"
files:
  "/opt/elasticbeanstalk/env.vars" :
    mode: "000775"
    owner: root
    group: users
    content: |
      export PATH="$PATH:/opt/elasticbeanstalk/node-install/node-v0.8.28-linux-x64/bin/node:/root/.npm"
      export NODE_PATH=/usr/bin/node
